[core]
	editor = code --wait

[init]
	defaultBranch = main

[gpg]
	program = /sbin/gpg

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[push]
	default = current

[pull]
	default = current

[commit]
	gpgsign = true 

[includeIf "gitdir:~/Work/"]
	path = ~/.gitconfig-work

[user]
	email = ernst.becker.neto@gmail.com
	name = ErnstBecker
	signingkey = 83481D2AC57A2EA3
