zsh_history
btop.log
lazy-lock.json

# Zen Browser 
.zen/zeists.default/*
!.zen/zeists.default/chrome
!.zen/zeists.default/user.js

# Firefox
.mozilla/firefox/zeists.default/*
!.mozilla/firefox/zeists.default/chrome
!.mozilla/firefox/zeists.default/user.js
